@*The partial view for 'Add New' button*@

@model string

<div style="position: fixed; right: 30px; bottom: 65px;" class="text-white">
    <a asp-controller="@Model" asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New
    </a>
</div>