@*The partial view for search form 'by name'*@

<form class="row ms-auto my-2 my-lg-0" asp-action="Index" method="get">
    <div class="col-auto">
        <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]"
               placeholder="Find by name..." />
    </div>
    <div class="col-auto">
        <button type="submit" value="Search" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </div>
</form>
