@model NewLectureVM
@using University.Core.ViewModels.Lecture;

@{
    ViewData["Title"] = "Create a new lecture";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create a new lecture</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="FacultyId" class="col-form-label"></label>
                                <select asp-for="FacultyId" class="form-select" asp-items="ViewBag.Faculties"></select>
                                <span asp-validation-for="FacultyId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="LectureDate" class="col-form-label"></label>
                                <input asp-for="LectureDate" class="form-control" />
                                <span asp-validation-for="LectureDate" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="StartTime" class="col-form-label"></label>
                                <input asp-for="StartTime" class="form-control" />
                                <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="EndTime" class="col-form-label"></label>
                                <input asp-for="EndTime" class="form-control" />
                                <span asp-validation-for="EndTime" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="SubjectId" class="col-form-label"></label>
                                <select asp-for="SubjectId" class="form-select" asp-items="ViewBag.Subjects"></select>
                                <span asp-validation-for="SubjectId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="LectureRoomId" class="col-form-label"></label>
                                <select asp-for="LectureRoomId" class="form-select" asp-items="ViewBag.LectureRooms"></select>
                                <span asp-validation-for="LectureRoomId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="AcademicEmployeeId" class="col-form-label"></label>
                                <select asp-for="AcademicEmployeeId" class="form-select" asp-items="ViewBag.AcademicEmployees"></select>
                                <span asp-validation-for="AcademicEmployeeId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="GroupIds" class="col-form-label"></label>
                                <select asp-for="GroupIds" class="form-select" asp-items="ViewBag.Groups" multiple></select>
                                <span asp-validation-for="GroupIds" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>