@using University.Core.ViewModels.SubjectVM;
@model NewSubjectModel

@{
    ViewData["Title"] = "Create a new subject";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <p>
                <h3 class="text-center">Create a new subject</h3>
            </p>

            <div class="row justify-content-evenly">
                <div class="col-10">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="FacultyId" class="col-form-label"></label>
                            <select asp-for="FacultyId" class="form-select" asp-items="ViewBag.Faculties">
                                <option disabled selected>--Select a Faculty--</option>
                            </select>
                            <span asp-validation-for="FacultyId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Name" class="col-form-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}