@using University.Core.ViewModels.LectureRoomVM;
@model NewLectureRoomVM

@{
    ViewData["Title"] = "Update lecture room";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h3 class="text-center">Update lecture room</h3>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="FacultyId" class="col-form-label"></label>
                        <select asp-for="FacultyId" class="form-select" asp-items="ViewBag.Faculties"></select>
                        <span asp-validation-for="FacultyId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="col-form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Capacity" class="col-form-label"></label>
                        <input type="number" asp-for="Capacity" class="form-control" />
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Update" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>